<div *ngIf="character" class="character-card-container">
  <app-character-card
    [character]="character"
    [filteredComics]="filteredComics"
    [hasComics]="hasComics"
    [showDetails]="true"
    (filterComicsEvent)="filterComics($event)"
  ></app-character-card>
</div>
<ng-container *ngIf="!isLoading && !character">
  <p class="no-character">No se ha encontrado el personaje :(</p>
</ng-container>
<ng-container *ngIf="isLoading">
  <mat-spinner class="spinner" [color]="'warn'"></mat-spinner>
</ng-container>
