a
  color: #232323
  text-decoration: none

h1
  text-align: center

.characters
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr))
  column-gap: 25px
  row-gap: 40px
  margin-top: 40px

.search-input
  width: 100%

.spinner
  margin: 40px auto
